[Unit]
Description=Urban Terror server

[Service]
User=urbanterror
ExecStart=/opt/urbanterror/Quake3-UrT-Ded
Restart=on-abort

[Install]
WantedBy=multi-user.target
